version: "3.8"

services:
  db:
    image: docker.io/mariadb:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: p@ssword123
      MYSQL_DATABASE: caminho_db
      MYSQL_USER: caminho_user
      MYSQL_PASSWORD: caminho_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data: